{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="stylesheet" href="{% static 'editor.css' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <script type="text/javascript" src="{% static 'editor.js' %}"></script>
    <title>{{file.name}} | {{file.project.name}} | Kaplan Cloud</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="{% url 'project' file.project.id %}">
          <span class="material-icons">
            arrow_back
          </span>
        </a>
      </nav>
      <button id="btn-filter">Filter</button>
      <button id="btn-submit-translation" {% if not can_edit %}disabled{% endif %}>
        {% if file.status == 4 %}
          Submit Translation
        {% elif file.status == 5 %}
          Submit Reviewed Translation
        {% else %}
          File Delivered
        {% endif %}
      </button>
    </header>
    <main id="editor">
        <div id="editor">
          {% csrf_token %}
          <hr>
          {% for tu_id, translation_unit in translation_units.items %}
          <table id="{{tu_id}}" class="tu">
              {% for s_id, segment in translation_unit.items %}
              <tr id="{{s_id}}" class="segment {% cycle 'oddrow' 'evenrow' %} {{segment.get_status.lower}}" status="{{segment.get_status.lower}}">
                  <th class="sid">{{s_id}}</th>
                  <td class="source" lang="{{file.source_language}}">{{segment.source | safe}}</td>
                  <td class="target" {% if can_edit %}contenteditable{% endif %} lang="{{file.target_language}}">{{segment.target | safe}}</td>
              </tr>
              {% endfor %}
          </table>
          <hr>
          {% endfor %}
        </div>
      <div class="sidebar">
        <div class="sidebar-icons">
          <span class="material-icons expand-icon" onclick="toggleExpand(this)">expand_more</span>
          <!--<span class="material-icons">feedback</span>-->
          <span class="material-icons">question_answer</span>
        </div>
        <div class="toggle" hidden>
          <div id="comments">
            <div>
              <form id="comment-form" method="post">
                  <p><b><label for="{{ form.comment.id }}">Comment</label></b></p>
                  <p>{{ form.comment }}</p>
                  <button type="submit">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="sidebar">
        <div class="sidebar-icons">
          <span class="material-icons expand-icon" onclick="toggleExpand(this)">expand_less</span>
          <span class="material-icons">translate</span>
        </div>
        <div class="toggle">
          <div id="tm-hits">
            <input id="concordance" type="text"/>
          </div>
        </div>
      </div>
    </main>
    <div id="dropdown-filter" class="hidden">
      <button id="btn-filter-all">All</button>
      <hr/>
      <button id="btn-filter-translated">Translated</button>
      <button id="btn-filter-draft">Draft</button>
      <button id="btn-filter-blank">Blank</button>
    </div>
    <div id="overlay-submit-translation"> <!--TODO: Add QA steps-->
      <div>
        <p>Checking to see if all segments are translated...</p>
      </div>
      <div>
        <p>No untranslated segments found.</p>
        <p>Are you sure you wish to proceed? You won't be able to further edit the file.</p>
        <span>
          <button class="advance-status">Continue</button>
          <button class="cancel">Return</button>
        </span>
      </div>
      <div>
        <p>The following segments are not translated:</p>
        <table class="tu"></table>
        <p>Are you sure you wish to proceed? You won't be able to further edit the file.</p>
        <span>
          <button class="advance-status">Continue</button>
          <button class="cancel">Return</button>
        </span>
      </div>
    </div>
  </body>
</html>
