{% extends "index.html" %}
{% load static %}
{% block head %}
<script type="text/javascript" src="{% static 'project.js' %}"></script>
{% endblock %}
{% block div %}
<div id="kpp-upload-form">
  <form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <table>
      {{form.as_table}}
      <tr>
        <th></th>
        <td><button type="submit" name="button">Submit</button></td>
      </tr>
      <input type="hidden" name="task" value="import">
    </table>
  </form>
</div>
<header id="header-project">
  <nav>
    <!--<a class="disabled" href="#" title="Not yet implemented">Settings</a> TODO-->
    <!--<a class="disabled" href="#" title="Not yet implemented">Archive</a> TODO-->
    {% if not user.is_authenticated %}
    <a id="login" href="{% url 'login' %}"><span class="material-icons" title="login">login</span></a>
    {% else %}
    <a id="logout" href="{% url 'logout' %}"><span class="material-icons" title="logout">logout</span></a>
    {% endif %}
  </nav>
</header>
<div id="project">
  <div>
    <h4>Files</h4>
    <table>
      <tr>
        <th><input id="checkbox-main" type="checkbox"></th>
        <th>Name</th>
        <th>Status</th>
        {% if perms.kaplancloudapp.change_project %}
        <th>Translator</th>
        <th>Reviewer</th>
        {% endif %}
        <th>Due by</th>
      </tr>
      {% for file in files %}
      <tr class="file" id="{{ file.id }}">
        <th><input class="checkbox" type="checkbox"></th>
        <td><a href="{% url 'editor' file.id %}">{{file.name}}</a></td>
        <td>{{file.get_status}}</td>
        {% if perms.kaplancloudapp.change_project %}
        <td>
          {% if file.translator %}
            {{file.translator.username}}
          {% else %}
            -
          {% endif %}
        </td>
        <td>
          {% if file.reviewer %}
            {{file.reviewer.username}}
          {% else %}
            -
          {% endif %}
        </td>
        {% endif %}
        <td>
            {% if file.due_by %}
              {{file.due_by}}
            {% elif project.due_by %}
              {{project.due_by}}
            {% else %}
              -
            {% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
  <div>
    <h4>Reports</h4>
    <ul>
      {% for report in reports %}
      <li><a href="{% url 'report' report.id %}" target="_blank">{{report.created_at}}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
<div id="context-menu">
  <button id="context-btn-analyze" type="button" {% if not perms.kaplancloudapp.change_project %}title="Forbidden for this account" disabled{% endif %}>Analyze</button>
  <button id="context-btn-download-translation" type="button">Download Translation</button>
  <button id="context-btn-export" type="button" {% if not perms.kaplancloudapp.change_project %}title="Forbidden for this account" disabled{% endif %}>Export</button>
  <button id="context-btn-import" type="button" {% if not perms.kaplancloudapp.change_project %}title="Forbidden for this account" disabled{% endif %}>Import</button>
</div>
<div id="report-toast">
  <p>Your report is ready. Please refresh this page to see it listed.</p>
</div>
{% csrf_token %}
{% endblock %}
