{% extends "index.html" %}
{% load static %}
{% block head %}
<script type="text/javascript" src="{% static 'main.js' %}"></script>
{% endblock %}
{% block div %}
<header>
  <nav>
    <a {% if perms.kaplancloudapp.add_project %}href="{% url 'newproject' %}"{% else %}class="disabled"{% endif %}>Create</a>
    <!--<a class="disabled" href="#" title="Not yet implemented">Import</a> TODO-->
    {% if not user.is_authenticated %}
    <a id="login" href="{% url 'login' %}"><span class="material-icons" title="login">login</span></a>
    {% else %}
    <a id="logout" href="{% url 'logout' %}"><span class="material-icons" title="logout">logout</span></a>
    {% endif %}
  </nav>
</header>
<div id="projects">
  <div id="search-form" {% if display_form %}class="show"{% endif %}>
    <form method="get">
      <table>
        <tr>
          <th><label for="{{ form.source.id }}">Source:</label></th>
          <td>{{ form.source }}</td>
          <th><label for="{{ form.target.id }}">Target:</label></th>
          <td>{{ form.target }}</td>
          <th><label for="{{ form.client.id }}">Client:</label></th>
          <td>{{ form.client }}</td>
          <td><button type="submit" class="material-icons">search</button></td>
        </tr>
      </table>
    </form>
    <span id="search-form-toggle" class="material-icons">search</span>
  </div>
  <table>
    <tr>
      <th>Name</th>
      <th>Source Language</th>
      <th>Target Language</th>
      <th>Status</th>
      <th>Due By</th>
      <th>Client</th>
      <!--<th></th>-->
    </tr>
    {% for project in projects %}
    <tr>
      <td><a href="{% url 'project' project.uuid %}">{{project.name}}</a></td>
      <td>{{project.source_language}}</td>
      <td>{{project.target_language}}</td>
      <td>{{project.get_status}}</td>
      <td>{{project.due_by}}</td>
      <td>{{project.client.name}}</td>
      <!--<td><span class="material-icons">expand_more</span></td> TODO-->
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
