{% extends "index.html" %}
{% block title %}
Translation Memories | Kaplan Cloud
{% endblock %}
{% block div %}
<header>
  <nav>
    <a href="{% url 'newtm' %}">Create</a>
    {% if not user.is_authenticated %}
    <a id="logout" href="{% url 'login' %}"><span class="material-icons" title="login">login</span></a>
    {% else %}
    <a id="logout" href="{% url 'logout' %}"><span class="material-icons" title="logout">logout</span></a>
    {% endif %}
  </nav>
</header>
<div id="projects">
  <table>
    <tr>
      <th>Name</th>
      <th>Source Language</th>
      <th>Target Language</th>
      <!--<th></th>-->
    </tr>
    {% for tm in tms %}
    <tr>
      <td><a href="{% url 'tm' tm.id %}">{{tm.name}}</a></td>
      <td>{{tm.source_language}}</td>
      <td>{{tm.target_language}}</td>
      <!--<td><span class="material-icons">expand_more</span></td> TODO-->
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
