{% extends "base.html" %}

{% block title %}Register | Kaplan Cloud{% endblock %}

{% block body %}
<main id="login">
  <div id="login-window">
    <div>
      {% if form.errors %}
      {{form.errors}}
      {% endif %}

      <form method="post" action="{% url 'register' %}">
      {% csrf_token %}
      <table>
      {{form.as_table}}
      <tr>
          <td></td>
          <td><button type="submit">Register</button></td>
      </tr>
      </table>
      </form>
    </div>
  </div>
  <footer>
    <p>v0.3.1-rc.3</p>
  </footer>
</main>
{% endblock %}
