# Rename this file to .env by running:
# cp .env.template .env

# https://docs.djangoproject.com/en/dev/ref/settings/#std:setting-DEBUG
# Uncomment to set to False
#DEBUG=False

# https://docs.djangoproject.com/en/dev/ref/settings/#allowed-hosts
# https://docs.djangoproject.com/en/dev/ref/settings/#csrf-trusted-origins
# This setting is mandatory for Django>=4.0
#ALLOWED_HOSTS=

# Database credentials
DB_NAME=
DB_USER=
DB_PASSWORD=

# https://docs.djangoproject.com/en/dev/ref/settings/#std:setting-SECRET_KEY
# If you do not set one yourself, it will be configured automatically
# every time the container is started.
#SECRET_KEY=

# Set to the name of the Docker network
# https://hub.docker.com/r/nginxproxy/nginx-proxy is on
# Defaults to nginx-proxy
#NETWORK_NAME=

# Optional Settings

# S3 Storage Settings
#STATICFILES_STORAGE=storages.backends.s3boto3.S3StaticStorage
#FILE_STORAGE=storages.backends.s3boto3.S3Boto3Storage
#S3_ACCESS_KEY_ID=
#S3_SECRET_ACCESS_KEY=
#S3_REGION_NAME=

# Public bucket for javascript, css, and other static files
#S3_PUBLIC_BUCKET=

# Defaults to 'static'. No need to change it unless you are using
# one bucket for multiple sites/apps. In which case, you might want
# to set this to something like 'project-name/static' so that the
# projects do not interfere with one another
#S3_PUBLIC_BUCKET_LOCATION=

# If you want to serve your static files stored in the public bucket
# via Cloudfront, change {0} to your Cloudfront subdomain, and uncomment
#S3_CUSTOM_DOMAIN={0}.cloudfront.net

# Private bucket for files to be translated
#S3_PRIVATE_BUCKET=

# Defaults to the root directory. No need to change it unless you
# are using one bucket for multiple sites/apps. In which case, you
# might want to set this to something like 'project-name' so that the
# projects do not interfere with one another
#S3_PRIVATE_BUCKET_LOCATION=

# No need to change the two below for AWS S3
#S3_ENDPOINT_URL=
#S3_USE_SSL=

# Sets the prefix for container names
#PROJECT_NAME=
