# Rename this file to .env by running:
# cp .env.template .env

# https://docs.djangoproject.com/en/latest/ref/settings/#std:setting-DEBUG
# Uncomment to set to False
#DEBUG=False

# https://docs.djangoproject.com/en/dev/ref/settings/#std:setting-SECRET_KEY
# If you do not set one yourself, it will be configured automatically
# every time the container is started.
#SECRET_KEY=

# Set to the name of the Docker network
# https://hub.docker.com/r/nginxproxy/nginx-proxy is on
NETWORK_NAME=nginx-proxy
